@model IEnumerable<BikeStore.Models.Domain.Bike>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FrameNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoringPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrameSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelColour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FrameNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoringPlace.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameSize.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelColour.ImageLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
