@model IEnumerable<BikeStore.Models.Domain.ModelColour>

@{
    ViewData["Title"] = "Colour schemes";
}

<h1>Кольорові схеми</h1>


@if (Model.Count() == 0)
{
    <h3>There are no model colour schemes for specified model. <a asp-action="Create" asp-route-modelId="@ViewBag.ModelId">Create?</a></h3>
}
else
{
    <table class="table table-bordered table-sm table-striped text-light text-center">
        <tr>
            <th>Зображення</th>
            <th>Колір</th>
            <th>Дії</th>
        </tr>
        @foreach (var cs in Model)
        {
            <tr>
                <td><img class="d-block img-fluid card-img-top" src=@cs.ImageLink style="width: 50%;" /></td>
                <td style="width: 30%;">@cs.Colour.ColourValue</td>
                <td>
                    <form asp-action="Delete" asp-route-productId="@cs.Id" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-warning"
                           asp-route-id="@cs.Id">
                            Редагувати
                        </a>
                        <input type="hidden" asp-for="@cs.Id" name="Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Видалити
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="text-center">
        <a asp-action="Create" asp-route-modelId="@ViewBag.ModelId" class="btn btn-primary">Створити</a>
        <a asp-action="Details" asp-controller="Models" asp-route-id=@ViewBag.ModelId class="btn btn-secondary">До моделі</a>
    </div>
}