@model List<Model>
@{
    ViewData["Title"] = "Products";
    var searchStringValue = ViewBag.FilterViewModel.SelectedSearchString;
}

<div class="container-fluid text-light">
    <h1>Велосипеди</h1>
    <br />
    <form method="get">
        <div class="form-row">
            <div class="">
                <p>
                    <input type="text" class="rounded" style="width: 200px; height:37px; position:relative; top: 3px; margin-right: 15px;" name="searchString" placeholder="Введіть назву" value="@searchStringValue" />
                    <input type="submit" value="Знайти" class="btn btn-primary" />
                </p>
            </div>
            <div style="margin-left: 43%;">
                <select class="rounded" style="width: 200px; height:37px; position:relative; top: 3px; margin-right: 15px;" name="SortOrder" asp-items="ViewBag.SortItems"></select>
                <button class="btn btn-success" type="submit">Сортувати</button>
            </div>
        </div>
    </form>

    <hr class="border-light" />

    <div class="row">
        <div class="col-3">
            <form method="get">
                <div class="form-group">
                    <details>
                        <summary class="mb-3">Категорія</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Categories)
                        {
                            if (ViewBag.FilterViewModel.SelectedCategories.Contains(i.Id))
                            {
                                <label>
                                    <input type="checkbox" name="selectedCategories" checked="checked" value=@i.Id />
                                    <span>@i.Title</span>
                                </label>
                                <br />
                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedCategories" value=@i.Id />
                                    <span>@i.Title</span>
                                </label>
                                <br />
                            }
                        }
                    </details>
                    <hr class="border-light" />

                    <details>
                        <summary class="mb-3">Тип підвіски</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Suspensions)
                        {
                            if (ViewBag.FilterViewModel.SelectedSuspensions.Contains(i.Id))
                            {
                                <label>
                                    <input type="checkbox" name="selectedSuspensions" checked="checked" value=@i.Id />
                                    <span>@i.Type</span>
                                </label>
                                <br />

                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedSuspensions" value=@i.Id />
                                    <span>@i.Type</span>
                                </label>
                                <br />
                            }
                        }
                    </details>

                    <hr class="border-light" />

                    <details>
                        <summary class="mb-3">Стать</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Sexes)
                        {
                            if (ViewBag.FilterViewModel.SelectedSexes.Contains(i.Id))
                            {
                                <label>
                                    <input type="checkbox" name="selectedSexes" checked="checked" value=@i.Id />
                                    <span>@i.Value</span>
                                </label>
                                <br />

                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedSexes" value=@i.Id />
                                    <span>@i.Value</span>
                                </label>
                                <br />
                            }
                        }
                    </details>

                    <hr class="border-light" />

                    <details>
                        <summary class="mb-3">Вікова група</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Ages)
                        {
                            if (ViewBag.FilterViewModel.SelectedAges.Contains(i.Id))
                            {
                                <label>
                                    <input type="checkbox" name="selectedAges" checked="checked" value=@i.Id />
                                    <span>@i.Value</span>
                                </label>
                                <br />

                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedAges" value=@i.Id />
                                    <span>@i.Value</span>
                                </label>
                                <br />
                            }
                        }
                    </details>
                    
                    <hr class="border-light" />

                    <details>
                        <summary class="mb-3">Колекція</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Years)
                        {
                            if (ViewBag.FilterViewModel.SelectedYears.Contains(i))
                            {
                                <label>
                                    <input type="checkbox" name="selectedYears" checked="checked" value=@i />
                                    <span>@i</span>
                                </label>
                                <br />

                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedYears" value=@i />
                                    <span>@i</span>
                                </label>
                                <br />
                            }
                        }
                    </details>

                    <hr class="border-light" />

                    <details>
                        <summary class="mb-3">Розміри коліс в дюймах</summary>
                        @foreach (var i in ViewBag.FilterViewModel.Wheels)
                        {
                            if (ViewBag.FilterViewModel.SelectedWheels.Contains(i))
                            {
                                <label>
                                    <input type="checkbox" name="selectedWheels" checked="checked" value=@i />
                                    <span>@i</span>
                                </label>
                                <br />

                            }
                            else
                            {
                                <label>
                                    <input type="checkbox" name="selectedWheels" value=@i />
                                    <span>@i</span>
                                </label>
                                <br />
                            }
                        }
                    </details>

                    <hr class="border-light" />

                    <div align="center">
                        <p>Ніжня границя ціни</p>
                        <input type="number" value=@ViewBag.FilterViewModel.LowPriceBorder name="lowPriceBorder" class="mb-3" />
                        <p>Верхня границя ціни</p>
                        <input type="number" value=@ViewBag.FilterViewModel.HighPriceBorder name="highPriceBorder" />
                    </div>

                    <hr class="border-light" />

                    <div align="center">

                        <input type="submit" value="Показати" class="btn btn-success mr-2" />
                        <a class="btn btn-secondary" asp-action="Index" asp-controller="Product">Скинути</a>
                    </div>

                </div>
                <hr class="border-light" />
            </form>
        </div>
        <div class="col-9">
            <div class="row">
                @if (Model.Count == 0)
                {
                    <div class="col-12 mt-5" align="center">
                        <h2>За запитом нічого не знайдено(</h2>
                    </div>
                }
                else
                {
                    @foreach (var m in Model)
                    {
                        <partial name="ProductModelCard" model="m" />
                    }
                }
            </div>
        </div>
    </div>

    @if (Model.Count != 0)
    {
        <div class="justify-content-center form-group form-inline">
            <page-link page-action="Index"
                       page-view-model="ViewBag.PageViewModel"
                       page-url-selectedCategories="@ViewBag.FilterViewModel.SelectedCategories"
                       page-url-searchString="@ViewBag.FilterViewModel.SelectedSearchString"></page-link>
        </div>        
    }


</div>

