@page
@model BikeStore.Areas.DbAdmin.Pages.ColoursModel
@{
}

<script>
    function Edit(id) {
        if (document.getElementById('edit ' + id).hidden) {
            document.getElementById('edit ' + id).className = "d-flex";
            document.getElementById('common ' + id).className -= "d-flex";
            document.getElementById('edit ' + id).hidden = false;
            document.getElementById('common ' + id).hidden = true;
        } else {
            console.log("false")
            document.getElementById('edit ' + id).hidden = true;
            document.getElementById('common ' + id).hidden = false;
            document.getElementById('edit ' + id).className -= "d-flex";
            document.getElementById('common ' + id).className = "d-flex";
        }
    }

    function clear() {
        for (var i in document.getElementsByClassName("value")) {
            i.value = "";
        }
    }

    if (window.addEventListener) {
        window.addEventListener('load', clear);
    } else if (window.attachEvent) {
        window.attachEvent('onload', clear);
    } else {
        window.onload = clear;
    }
</script>

<h3>Кольори</h3>

@Html.AntiForgeryToken()

<div class="justify-content-center form-group form-inline">
    <span asp-validation-for="ColourValue" class="text-danger"></span>
</div>
<div class="form-group form-inline justify-content-center">
    <form method="post">
        <input class="form-control value" name="colourValue" type="text" placeholder="Колір" />
        <button type="submit" class="btn btn-success" asp-page-handler="Create">Створити</button>
    </form>
</div>

<form method="post" id="deleteform"></form>

<table class="table text-light" id="table">
    <thead>
        <tr class="d-flex">
            <th class="col-6">
                Колір
            </th>
            <th class="col-6">
                Дії
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Colours)
        {
            <tr class="d-flex" id="common @item.Id">
                <td class="col-6">
                    @Html.DisplayFor(modelItem => item.ColourValue)
                </td>
                <td class="col-6">
                    <button class="btn btn-sm btn-primary" onclick="Edit(@item.Id);">Редагувати</button>
                    <button class="btn btn-sm btn-danger" form="deleteform" type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="(function () { if (!confirm('Видалити?')) event.preventDefault(); })();">Видалити</button>
                </td>
            </tr>
            <tr id="edit @item.Id" hidden>
                <td class="col-6">
                    <form method="post" id="editForm @item.Id"></form>
                    <input class="form-control" form="editForm @item.Id" type="text" value="@item.ColourValue" name="colourValue" />
                </td>
                <td class="col-6">
                    <button class="btn btn-sm btn-success" form="editForm @item.Id" asp-page-handler="Edit" asp-route-id="@item.Id" onclick="(function () { if (!confirm('Зберегти?')) event.preventDefault(); })();">Зберегти</button>
                    <button class="btn btn-sm btn-warning" onclick="Edit(@item.Id);">Відхилити</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}