@page
@model BikeStore.Areas.DbAdmin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script>

    function Edit(id) {
        if (document.getElementById('edit ' + id).hidden) {
            document.getElementById('edit ' + id).hidden = false;
            document.getElementById('common ' + id).hidden = true;
        } else {
            document.getElementById('edit ' + id).hidden = true;
            document.getElementById('common ' + id).hidden = false;
        }

    }

    function clear() {
        document.getElementById("value").value = "";
    }

    if (window.addEventListener) {
        window.addEventListener('load', clear);
    } else if (window.attachEvent) {
        window.attachEvent('onload', clear);
    } else {
        window.onload = clear;
    }
</script>


<h3>Age Groups</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

@Html.AntiForgeryToken()

<div class="form-group form-inline justify-content-center">
    <form method="post">
        <input class="form-control" asp-for="Value" name="value" id="value" type="text" placeholder="Value" />
        <button type="submit" class="btn btn-success" asp-page-handler="Create">Create</button>
    </form>
</div>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.groups)
        {
            <tr id="common @item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td class="form-inline">
                    <button class="btn btn-sm btn-primary" onclick="Edit(@item.Id);">Edit</button>
                    <form method="post">
                        <button class="btn btn-sm btn-danger" type="submit" asp-page-handler="Delete" asp-route-id="@item.Id" onclick="(function () { if (!confirm('Delete?')) event.preventDefault(); })();">Delete</button>
                    </form>
                </td>
            </tr>
            <tr id="edit @item.Id" class="visible" hidden>
                <td>
                    <form method="post" id="editForm @item.Id">
                        <input type="text" value="@item.Value" asp-for="Value" />
                    </form>
                </td>
                <td>
                    <button class="btn btn-sm btn-success" form="editForm @item.Id" asp-page-handler="Edit" asp-route-id="@item.Id" onclick="(function () { if (!confirm('Save?')) event.preventDefault(); })();">Save</button>
                    <button class="btn btn-sm btn-warning" onclick="Edit(@item.Id);">Cancel</button>
                </td>
            </tr>
        }

    </tbody>
</table>